<div class="card mt-5">
  <h3 class="card-header">
    <%= t('.badge_header')%>
  </h3>
  <div class="card-body">
    <div>
      <%= render 'form', badge: @badge %>
    </div>
    <div>
      <%= link_to 'Back', admin_badges_path, class: "btn btn-outline-secondary" %>      
    </div>
  </div>
</div>
