<h3><%= t('.badge_header')%></h3>

<div>
  <%= @badge.title %>
</div>

<hr>

<div>
  <%= octicon @badge.image_url, class: 'text-danger', width: 200   %>
</div>

<%= link_to t('.back'), admin_badges_path %>
