<div>
  <%= Time.now.year %>
</div> 
<div>
  Created by Tim
</div> 
<div>
  <%= link_to 'TestGuru', 'https://github.com/TimLit13/TestGuru', target: :_blank %>
</div> 
<div>
  Test taking application
</div> 
<div>
  Educational project in <%= link_to 'Thinknetica', 'https://thinknetica.com/', target: :_blank %> online school 
</div> 