<div>
  <%= current_year %>
</div> 
<div>
  Created by Tim
</div> 
<div>
  <%= link_to_github('TimLit13', 'TestGuru') %>
</div> 
<div>
  Test taking application
</div> 
<div>
  Educational project in <%= link_to 'Thinknetica', 'https://thinknetica.com/', target: :_blank %> online school 
</div> 