<h3><%= t('.header') %></h3>

<p>
  <%= link_to 'New test', new_admin_test_path %>
</p>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Number of questions</th>
      <th colspan="4">Actions</th>
    </tr>
  </thead>

  <tbody>
      <%= render @tests %>
  </tbody>
</table>

<br>
